<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Task</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<script>
	$(document).ready(function() {
      // Add comment button click event
      $('.add-comment-btn').click(function() {
        var taskId = $(this).data('task-id');
        var commentText = prompt('Enter comment:');
        if (commentText) {
          // Send AJAX request to add comment
          $.ajax({
            url: '/tasks/' + taskId + '/comments',
            type: 'POST',
            data: { text: commentText },
            success: function(response) {
              // Reload the page to show updated comments
              location.reload();
            },
            error: function(error) {
              console.log(error);
            }
          });
        }
      });

      // Delete comment button click event
      $('.delete-comment-btn').click(function() {
        var commentId = $(this).data('comment-id');
        if (confirm('Are you sure you want to delete this comment?')) {
          // Send AJAX request to delete comment
          $.ajax({
            url: '/comments/' + commentId,
            type: 'DELETE',
            success: function(response) {
              // Reload the page to show updated comments
              location.reload();
            },
            error: function(error) {
              console.log(error);
            }
          });
        }
      });
    });
</script>
	<div th:insert="header :: header"></div>
	<div class="container my-5">
			<div class="card-body">
					<div class="col-md-12">
						<div>
							<table class="table table-striped table-responsive-md">
								<thead>
								<tr>
									<th>Department</th>
									<th>Task Name</th>
									<th>Employee</th>
									<th>Description</th>
									<th>Files</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td th:text="${task.departments[0].name}"></td>
									<td th:text="${task.name}"></td>
									<td th:text="${task.employees[0].name}"></td>
									<td th:text="${task.description}"></td>
									<td th:each="dbFile : ${task.dbFiles}">
										<ul style="list-style: none;">
											<li>
												<a th:href="@{/download/{fileId}(fileId=${dbFile.id})}" th:text="${dbFile.fileName}">Download</a>
											</li>
										</ul>
									</td>
<!--									<td>-->
<!--										&lt;!&ndash; Add comment button &ndash;&gt;-->
<!--										<button class="btn btn-success add-comment-btn">Add Comment</button>-->
<!--										&lt;!&ndash; Loop through comments &ndash;&gt;-->
<!--										<ul>-->
<!--											<li th:each="comment : ${task.comments}">-->
<!--												<span th:text="${comment.text}"></span>-->
<!--												&lt;!&ndash; Delete comment button &ndash;&gt;-->
<!--												<button  class="btn btn-danger delete-comment-btn">Delete</button>-->
<!--											</li>-->
<!--										</ul>-->
<!--									</td>-->
								</tr>
								</tbody>
							</table>

						</div>
					</div>
				<div class="col-md-12">
					<form action="#"
						  th:action="@{/tasks/{id}/comments(id=${task.task_id})}"
						   method="post">
						<label>
							<input type="text" name="text" id="text" th:field="${comment.text}"/>
						</label>
						<button type="submit" class="btn btn-success">Add Comment</button>
					</form>
				</div>
			</div>
		</div>
</body>
</html>